body {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
header {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: 0px;
  text-decoration: none;
}
.c {
  background-color: rgb(47, 53, 116);
  height: 320px;
  padding: 0px;
  text-align: justify;
}

nav {
  padding-right: 150px;
  display: flex;
  font-size: smaller;
  gap: 30px;
  padding-top: 0px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

.container {
  height: 50px;
  width: 600px;
  text-align: center;
  padding-top: 0px;
  padding-left: 300px;
}

.main {
  padding-left: 100px;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  background-color: rgb(47, 53, 116);
  color: white;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  width: 80%;
  height: 30%;
}
section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: center;
}
p {
  font-size: smaller;
  padding-bottom: 300px;
}
#v {
  padding-left: 20px;
}
#t {
  padding-right: 20px;
}
h5 {
  padding-bottom: 0px;
}
h3 {
  padding-bottom: 0px;
  padding-top: 15px;
  color: lightskyblue;
}
h2 {
  padding-left: 150px;
  color: white;
}
#hello {
  padding-left: 220px;
  padding-bottom: 0px;
  color: lightskyblue;
}
h4 {
  color: white;
}
