body {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
header {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: 0px;
  text-decoration: none;
}
h2 {
  color: white;
  padding-left: 150px;
}

.c {
  background-color: rgb(47, 53, 116);
  height: 320px;
  padding: 0px;
  text-align: justify;
}

nav {
  padding-right: 150px;
  display: flex;
  font-size: smaller;
  gap: 30px;
  padding-top: 0px;
  color: white;
}
a {
  text-decoration: none;
}

.container {
  height: 50px;
  width: 600px;
  text-align: center;
  padding-top: 50px;
  padding-left: 300px;
}

.main {
  padding-left: 100px;
}

h4 {
  padding-left: 220px;
  color: lightskyblue;
}
p {
  color: white;
}
h3 {
  color: lightskyblue;
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  background-color: rgb(47, 53, 116);
  color: white;
}
#hi {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-right: 70px;
}
.unique {
  display: flex;
  gap: 100px;
  padding-left: 180px;
  padding-top: 30px;
}
#hello {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 40px;
}
.nature {
  font-size: smaller;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  padding-right: 50px;
}
#u {
  padding-left: 170px;
  justify-content: center;
  padding-right: 10px;
}
#w {
  padding-right: 50px;
  justify-content: center;
  padding-left: 80px;
}
#v {
  padding-right: 100px;
}
#beach {
  padding-left: 100px;
}
a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  height: 20px;
}
